.card__btn-delete {
  background-image: url(../../../images/elements/trash.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: opacity 0.2s linear;
}

.card__btn-delete:hover {
  opacity: 0.6;
}
