.popup__info-tool-tip {
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  padding: 60px 36px 60px 36px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
